<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:42:55.000+0800</string>
		<key>_id</key>
		<string>1461ff8e3d97404e4938b7a7e26ea901</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>1012</integer>
			<key>fb_kanguo</key>
			<integer>8</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>23</integer>
			<key>fb_pianzan</key>
			<integer>2</integer>
			<key>fb_seqing</key>
			<integer>18</integer>
			<key>fb_wuliao</key>
			<integer>5</integer>
			<key>fb_zhengzhi</key>
			<integer>2</integer>
			<key>like</key>
			<integer>1065</integer>
			<key>play</key>
			<integer>203019</integer>
			<key>share</key>
			<integer>448</integer>
		</dict>
		<key>_pos</key>
		<integer>1450856574745</integer>
		<key>_updated_at</key>
		<string>2016-04-04T12:43:49.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>28</integer>
		<key>dislike_start</key>
		<integer>14</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>73</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/8afcf56cce577a416138e428de03718af.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/315c653890bda3ad488dd79354ef6a94</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/980f7443f8bb1c2a2724319da190c8f2f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/28324e38010eadbf829071bbc125e609f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:42:54</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=1461ff8e3d97404e4938b7a7e26ea901!!pos=1450856574745</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>当之无愧的表情帝</string>
		<key>tv_duration</key>
		<string>151</string>
		<key>url</key>
		<string>http://www.meipai.com/media/386840541</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:42:23.000+0800</string>
		<key>_id</key>
		<string>d149a7ab19e642f27e542b232840e017</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>416</integer>
			<key>fb_kanguo</key>
			<integer>3</integer>
			<key>fb_laji</key>
			<integer>2</integer>
			<key>fb_other</key>
			<integer>22</integer>
			<key>fb_pianzan</key>
			<integer>2</integer>
			<key>fb_seqing</key>
			<integer>7</integer>
			<key>fb_zhengzhi</key>
			<integer>3</integer>
			<key>like</key>
			<integer>1604</integer>
			<key>play</key>
			<integer>135651</integer>
			<key>share</key>
			<integer>1191</integer>
		</dict>
		<key>_pos</key>
		<integer>1450856543462</integer>
		<key>_updated_at</key>
		<string>2016-01-02T11:52:15.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>8</integer>
		<key>dislike_start</key>
		<integer>6</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>is_hot</key>
		<true/>
		<key>like_start</key>
		<integer>31</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/2cf0b162d11f157e7c33550dbc68a32ff.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/c67629a41be382059dbec4ec8e3d7d66</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/8bc6fe9e62973e7ce08ece2e0ddb7accf.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/5674901c65c3de4e8352c325e94867b3f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:42:23</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=d149a7ab19e642f27e542b232840e017!!pos=1450856543462</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>谢娜变模仿狂人笑翻众人</string>
		<key>tv_duration</key>
		<string>300</string>
		<key>url</key>
		<string>http://www.meipai.com/media/402289975</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:41:55.000+0800</string>
		<key>_id</key>
		<string>a8c546934b2b84691ff0a4aace071443</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>230</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>13</integer>
			<key>fb_seqing</key>
			<integer>2</integer>
			<key>fb_wuliao</key>
			<integer>7</integer>
			<key>fb_zhengzhi</key>
			<integer>1</integer>
			<key>like</key>
			<integer>1335</integer>
			<key>play</key>
			<integer>130204</integer>
			<key>share</key>
			<integer>813</integer>
		</dict>
		<key>_pos</key>
		<integer>1450856513200</integer>
		<key>_updated_at</key>
		<string>2016-01-02T17:02:21.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>11</integer>
		<key>dislike_start</key>
		<integer>15</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>is_hot</key>
		<true/>
		<key>like_start</key>
		<integer>79</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/fe3754014dee5cb673c5b288e439a0b7f.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/84d350c03fcec03130b35c4bb590ceac</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/c7840f5404a67c498f6bfc60921870e3f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/45ee5bf4696464cce641d523b17f94a1f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:41:53</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=a8c546934b2b84691ff0a4aace071443!!pos=1450856513200</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>坑娃的爹娘长点儿心吧！坑爹名字毁一生啊</string>
		<key>tv_duration</key>
		<string>151</string>
		<key>url</key>
		<string>http://www.meipai.com/media/405515317</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:26:07.000+0800</string>
		<key>_id</key>
		<string>4b3d5e8e9b6c319c0c21f45db95b068b</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>195</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>5</integer>
			<key>fb_pianzan</key>
			<integer>2</integer>
			<key>fb_seqing</key>
			<integer>2</integer>
			<key>fb_zhengzhi</key>
			<integer>2</integer>
			<key>like</key>
			<integer>541</integer>
			<key>play</key>
			<integer>129385</integer>
			<key>share</key>
			<integer>211</integer>
		</dict>
		<key>_pos</key>
		<integer>1450855567373</integer>
		<key>_updated_at</key>
		<string>2016-03-26T20:44:10.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>1</integer>
		<key>dislike_start</key>
		<integer>11</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>57</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/f9c4376fbdbe2be6b0d3234740367130f.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/ff38845228d85a950f234822650cacd1</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/1e61a85f0a06f9881e7fafa7c17037c7f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/f8aa706a473da5e14d7fdbc66cbb2f36f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:26:07</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=4b3d5e8e9b6c319c0c21f45db95b068b!!pos=1450855567373</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>儿子已毙</string>
		<key>tv_duration</key>
		<string>26</string>
		<key>url</key>
		<string>http://www.meipai.com/media/451520930</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:25:52.000+0800</string>
		<key>_id</key>
		<string>e40ed5bf87b5dcce45ab71fa5079c9f3</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>174</integer>
			<key>fb_kanguo</key>
			<integer>2</integer>
			<key>fb_other</key>
			<integer>11</integer>
			<key>fb_pianzan</key>
			<integer>1</integer>
			<key>fb_seqing</key>
			<integer>3</integer>
			<key>like</key>
			<integer>1450</integer>
			<key>play</key>
			<integer>134530</integer>
			<key>share</key>
			<integer>718</integer>
		</dict>
		<key>_pos</key>
		<integer>1450855551743</integer>
		<key>_updated_at</key>
		<string>2015-12-29T13:30:28.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>11</integer>
		<key>dislike_start</key>
		<integer>12</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>is_hot</key>
		<true/>
		<key>like_start</key>
		<integer>61</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/fa0d67a20a91bbcc4b6786551960f17bf.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/12acde015049da316d4917b68b451887</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/bb8c4a65d6ac1d2b16e8049b3660c199f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/625b41c44b40d9067ad12e1f4dbe5d91f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:25:51</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=e40ed5bf87b5dcce45ab71fa5079c9f3!!pos=1450855551743</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>日防夜防损友难防……</string>
		<key>tv_duration</key>
		<string>90</string>
		<key>url</key>
		<string>http://www.meipai.com/media/451488316</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:25:32.000+0800</string>
		<key>_id</key>
		<string>d2260297ac073653424f645dbea351cb</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>180</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>8</integer>
			<key>fb_seqing</key>
			<integer>3</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>641</integer>
			<key>play</key>
			<integer>131402</integer>
			<key>share</key>
			<integer>300</integer>
		</dict>
		<key>_pos</key>
		<integer>1450855532560</integer>
		<key>_updated_at</key>
		<string>2016-01-15T18:59:02.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>8</integer>
		<key>dislike_start</key>
		<integer>6</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>34</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/ac1877778ca4e2caa1ec2505bb542edbf.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/6568b584bd46c93e2ece2777cb549bbb</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/e79c8ccd99e35b468952adf8d4220b30f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/d7d0bad2fc4e5c2ffead3d5cd56ee540f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:25:32</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=d2260297ac073653424f645dbea351cb!!pos=1450855532560</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>健身时遇到美女是如何合伙要电话的呢</string>
		<key>tv_duration</key>
		<string>137</string>
		<key>url</key>
		<string>http://www.meipai.com/media/445530792</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:24:39.000+0800</string>
		<key>_id</key>
		<string>acd4e3f2a3faaf6f7b611c5221cda211</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>166</integer>
			<key>fb_kanguo</key>
			<integer>2</integer>
			<key>fb_other</key>
			<integer>14</integer>
			<key>fb_seqing</key>
			<integer>2</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>996</integer>
			<key>play</key>
			<integer>111461</integer>
			<key>share</key>
			<integer>368</integer>
		</dict>
		<key>_pos</key>
		<integer>1450855478605</integer>
		<key>_updated_at</key>
		<string>2016-02-11T00:43:36.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>5</integer>
		<key>dislike_start</key>
		<integer>13</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>69</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/fb14e0aa63be2b38b429bfab0fe3f1a3f.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/bf085c1c603cffb9ee399d0e49d28e62</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/0ae45b5e22779e2c65978e6088a94d0ef.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/0b84b56e7c250d5736303cc414b5973ef.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:24:38</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=acd4e3f2a3faaf6f7b611c5221cda211!!pos=1450855478605</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>哈哈哈哈 这样的合拍视频好好玩</string>
		<key>tv_duration</key>
		<string>137</string>
		<key>url</key>
		<string>http://www.meipai.com/media/446015429</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:23:03.000+0800</string>
		<key>_id</key>
		<string>c9f4155d89eac706323e5f612d90cb5e</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>216</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>8</integer>
			<key>fb_seqing</key>
			<integer>5</integer>
			<key>fb_wuliao</key>
			<integer>2</integer>
			<key>fb_zhengzhi</key>
			<integer>1</integer>
			<key>like</key>
			<integer>641</integer>
			<key>play</key>
			<integer>109672</integer>
			<key>share</key>
			<integer>341</integer>
		</dict>
		<key>_pos</key>
		<integer>1450855383040</integer>
		<key>_updated_at</key>
		<string>2016-03-14T07:43:38.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>2</integer>
		<key>dislike_start</key>
		<integer>19</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>95</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/6506297e57e423eb826ea5c8d1b96830f.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/ea210f0bd41c456c068fd61457da5edd</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/d580d13fee08498a85688653b882c5d5f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/14ef9ed3a454f1209f5eea93a9830645f.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:23:03</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=c9f4155d89eac706323e5f612d90cb5e!!pos=1450855383040</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>瞎子打架！</string>
		<key>tv_duration</key>
		<string>17</string>
		<key>url</key>
		<string>http://www.meipai.com/media/340323791</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T15:22:04.000+0800</string>
		<key>_id</key>
		<string>e45c8245f6057253c41f48c9e2db5d6e</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>169</integer>
			<key>fb_laji</key>
			<integer>2</integer>
			<key>fb_other</key>
			<integer>4</integer>
			<key>fb_seqing</key>
			<integer>3</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>796</integer>
			<key>play</key>
			<integer>104486</integer>
			<key>share</key>
			<integer>1668</integer>
		</dict>
		<key>_pos</key>
		<integer>1450855321808</integer>
		<key>_updated_at</key>
		<string>2016-03-21T19:36:48.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>8</integer>
		<key>dislike_start</key>
		<integer>19</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>is_hot</key>
		<true/>
		<key>like_start</key>
		<integer>95</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/d8174d91aa404f0215980ff96315f372f.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/1215fdd0fc45c7ead672def6ebe12931</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/8078ef22ec16593d40dd1a898b12cfa3f.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/476df579b9fefdb672b2296b83c8528ef.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 15:22:01</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=e45c8245f6057253c41f48c9e2db5d6e!!pos=1450855321808</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>你说啥玩意</string>
		<key>tv_duration</key>
		<string>7</string>
		<key>url</key>
		<string>http://www.meipai.com/media/451592694</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2015-12-23T11:07:14.000+0800</string>
		<key>_id</key>
		<string>e410365954d4fcb68f904e4be0a1a9c2</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>185</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>5</integer>
			<key>fb_seqing</key>
			<integer>6</integer>
			<key>fb_wuliao</key>
			<integer>4</integer>
			<key>fb_zhengzhi</key>
			<integer>1</integer>
			<key>like</key>
			<integer>533</integer>
			<key>play</key>
			<integer>127176</integer>
			<key>share</key>
			<integer>151</integer>
		</dict>
		<key>_pos</key>
		<integer>1450840034683</integer>
		<key>_updated_at</key>
		<string>2016-02-10T21:27:07.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/q-v-a.jpg</string>
		<key>comment_total</key>
		<integer>4</integer>
		<key>dislike_start</key>
		<integer>13</integer>
		<key>forum</key>
		<string>美拍</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>69</integer>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/16/c522a6af5c4523651df96cdd20631128f.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/s/nav/g/qiqu/2015/89ca560bcdbd700086591f5889fb4926</string>
					<key>resolution</key>
					<string>480x480</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/16/b144276a9056eca17a55f94a44e575aaf.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/16/404940611aa618310f7bad41d59b405ef.jpeg</string>
			</dict>
		</array>
		<key>post_time</key>
		<string>2015-12-23 11:07:14</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=e410365954d4fcb68f904e4be0a1a9c2!!pos=1450840034683</string>
		<key>tag</key>
		<string>视频</string>
		<key>title</key>
		<string>偷看前任微博的下场</string>
		<key>tv_duration</key>
		<string>55</string>
		<key>url</key>
		<string>http://www.meipai.com/media/407932949</string>
		<key>user_name</key>
		<string>奇趣视频</string>
	</dict>
</array>
</plist>
