<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T07:26:42.000+0800</string>
		<key>_id</key>
		<string>2a670cd2403e9ea0d283b7de6d27517a</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>27</integer>
			<key>fb_zhengzhi</key>
			<integer>1</integer>
			<key>like</key>
			<integer>25</integer>
			<key>share</key>
			<integer>12</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911776064</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:33:02.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>1</integer>
		<key>content</key>
		<string>  我 可能还是没有放下  也放不下了  但我永远也不会对你说  真的  好奇怪   不知道为什么  只要你伸手我还是会和你走  只要你想起了我想和我在一起哪怕你年过半百哪怕你结婚生子只要你愿意我都会单膝跪地在说一次我爱你</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=2a670cd2403e9ea0d283b7de6d27517a!!pos=1440804402520</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>561477769</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T07:31:50.000+0800</string>
		<key>_id</key>
		<string>22a09d1b289641cd94d41721fd37247c</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>13</integer>
			<key>fb_other</key>
			<integer>1</integer>
			<key>like</key>
			<integer>26</integer>
			<key>share</key>
			<integer>4</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911773576</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:33:02.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>3</integer>
		<key>content</key>
		<string>没带钥匙就去了网吧通宵，各种心酸，好凄凉。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=22a09d1b289641cd94d41721fd37247c!!pos=1440804710778</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>422203491</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T07:54:55.000+0800</string>
		<key>_id</key>
		<string>837d2da543f85e983366c77f52f50224</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>45</integer>
			<key>fb_other</key>
			<integer>4</integer>
			<key>like</key>
			<integer>9</integer>
			<key>share</key>
			<integer>1</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911765517</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:33:02.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>2</integer>
		<key>content</key>
		<string>希望悦悦能看到，我为了学业不得不暂时放弃。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=837d2da543f85e983366c77f52f50224!!pos=1440806095823</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>719215096</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T08:01:56.000+0800</string>
		<key>_id</key>
		<string>61aa67ba978adeb0da846c1278f6eb02</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>38</integer>
			<key>like</key>
			<integer>10</integer>
			<key>share</key>
			<integer>1</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911765332</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:03:10.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>1</integer>
		<key>content</key>
		<string>我们在一起要一年了，我却做了那么多让你失望的事，你说要分手，可我还是挽留了你。我说过会改变的，我需要一点时间，可能一年，可能两年，傻逼，我爱你的。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=61aa67ba978adeb0da846c1278f6eb02!!pos=1440806516804</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>339806907</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T08:35:22.000+0800</string>
		<key>_id</key>
		<string>c8e5e7bc02cfa4d992b81fb1741b9278</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>25</integer>
			<key>like</key>
			<integer>9</integer>
			<key>share</key>
			<integer>1</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911762443</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:03:10.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>1</integer>
		<key>content</key>
		<string>为什么，我对你毫无隐瞒，你却什么都不告诉我。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=c8e5e7bc02cfa4d992b81fb1741b9278!!pos=1440808522607</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>829583754</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T08:47:08.000+0800</string>
		<key>_id</key>
		<string>1edf63fabb700109c6a363fbe48da875</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>14</integer>
			<key>fb_other</key>
			<integer>1</integer>
			<key>like</key>
			<integer>98</integer>
			<key>share</key>
			<integer>3</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911753650</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:03:10.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>8</integer>
		<key>content</key>
		<string></string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string>http://image.uc.cn/s/nav/s/upload/1zvuhLGP3-4jR2b88A</string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>media_data</key>
		<array>
			<dict>
				<key>format</key>
				<string>JPEG</string>
				<key>is_origin</key>
				<integer>1</integer>
				<key>mobile_img_url</key>
				<string>http://image.uc.cn/n/nav/15/6Jn2988A-mFX3ZgjNf.jpeg</string>
				<key>origin_img_url</key>
				<dict>
					<key>origin_pic_url</key>
					<string>http://image.uc.cn/n/nav/15/6Jn2988A-mFW3ZgjNf.jpeg</string>
					<key>resolution</key>
					<string>888x500</string>
				</dict>
				<key>share_img_url</key>
				<string>http://image.uc.cn/n/nav/15/6Jl2988A-mGp3ZgjNf.jpeg</string>
				<key>wifi_img_url</key>
				<string>http://image.uc.cn/n/nav/15/6Jl2988A-mGo3ZgjNf.jpeg</string>
			</dict>
		</array>
		<key>preview_img_url</key>
		<string>http://image.uc.cn/s/nav/s/upload/1zvuhLGP3-4jR2b88A</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=1edf63fabb700109c6a363fbe48da875!!pos=1440809228497</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>图文</string>
		<key>title</key>
		<string>快回国了，一年没回家了，我从一个飞行学员变成了真正的飞行员。迎接我的是家人的笑脸，和祖国最最美好的天空。</string>
		<key>uid</key>
		<string>551639584</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T08:52:36.000+0800</string>
		<key>_id</key>
		<string>6bf4120a5f1722996f5ce638b69707f4</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>10</integer>
			<key>like</key>
			<integer>12</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911741789</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:03:10.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>2</integer>
		<key>content</key>
		<string>你总说你感觉不到我对你的好，对你的爱有所回应！我想问问你，难道真心就那么容易视而不见！你不爱我了，何必逞强！我也想开了！放手！你去追寻你的爱！有所感动的有感觉的人吧！你的冷漠我不在奉陪！</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=6bf4120a5f1722996f5ce638b69707f4!!pos=1440809556855</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>806867511</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T09:00:31.000+0800</string>
		<key>_id</key>
		<string>aa7c0ed1ff0397ffc74f2ca3439718b4</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>11</integer>
			<key>fb_pianzan</key>
			<integer>1</integer>
			<key>like</key>
			<integer>4</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911740273</integer>
		<key>_updated_at</key>
		<string>2015-08-31T13:03:10.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>0</integer>
		<key>content</key>
		<string>我爱你虽然离开你了，就算你伤害过我我还是一样的初衷</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=aa7c0ed1ff0397ffc74f2ca3439718b4!!pos=1440810031993</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>484608656</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T09:45:12.000+0800</string>
		<key>_id</key>
		<string>cea76b16c2dfee3386c88b122c69877a</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>5</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>19</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911734135</integer>
		<key>_updated_at</key>
		<string>2015-08-31T12:32:59.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>0</integer>
		<key>content</key>
		<string>渐渐的长大，终于明白我的爱，只是一厢情愿的喜欢。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=cea76b16c2dfee3386c88b122c69877a!!pos=1440812712893</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>816972906</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
	<dict>
		<key>2nd_ck_appr</key>
		<true/>
		<key>_created_at</key>
		<string>2015-08-29T10:04:56.000+0800</string>
		<key>_id</key>
		<string>a012636ffa4475f720ab563277b21d48</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>28</integer>
			<key>fb_zhengzhi</key>
			<integer>1</integer>
			<key>like</key>
			<integer>14</integer>
			<key>share</key>
			<integer>1</integer>
		</dict>
		<key>_pos</key>
		<integer>1440911726660</integer>
		<key>_updated_at</key>
		<string>2015-08-31T12:32:59.000+0800</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/200-mimi.jpg</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>2</integer>
		<key>content</key>
		<string>早知道这样。你的第一次应该就给你的未来老公的。√对不起你。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict>
			<key>list_id</key>
			<string>秘密</string>
			<key>list_name</key>
			<string>mm</string>
			<key>stat_name</key>
			<string>秘密</string>
		</dict>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?ch=shouye_xinxiliu#!/detail?tag=index!!id=a012636ffa4475f720ab563277b21d48!!pos=1440813896239</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>502798279</string>
		<key>user_name</key>
		<string>秘密</string>
	</dict>
</array>
</plist>
