<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_created_at</key>
		<string>2016-08-18T10:30:04.000+0800</string>
		<key>_id</key>
		<string>044db03fb166afcd05b1ddaaa90bb31c</string>
		<key>_incrs</key>
		<dict/>
		<key>_pos</key>
		<integer>1471489205448</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>1afd54d7f62902106d859b373a9bc9d1</string>
		<key>antispam_md5</key>
		<string>6bd8106f652305ce22dd69475147e431</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160818104417786</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/avatar/21.png</string>
		<key>comment_total</key>
		<integer>0</integer>
		<key>content</key>
		<string>在一个繁华且拥挤的十字路口，有一辆私家车，在绿灯后仍然停在那。交警感觉奇怪，遂上前询问原因。开车的美女一边哭一边指着导航说：“她提示我前方限速50公里，可刚才那么多车，我要是开到每小时50公里，会撞的！我该怎么办？！！！”交警：“……”</string>
		<key>dislike_start</key>
		<integer>4</integer>
		<key>forum</key>
		<string>糗事百科</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>22</integer>
		<key>media_data</key>
		<array/>
		<key>post_time</key>
		<string>2016-08-18 10:30:04</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=044db03fb166afcd05b1ddaaa90bb31c!!pos=1471487404670</string>
		<key>share_start</key>
		<integer>24</integer>
		<key>tag</key>
		<string>段子</string>
		<key>url</key>
		<string>http://www.qiushibaike.com/article/117310000</string>
		<key>user_name</key>
		<string>孤独的鲨鱼</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-18T03:37:19.000+0800</string>
		<key>_id</key>
		<string>cd384c541708b7c6dc282474194150e8</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>103</integer>
			<key>fb_kanguo</key>
			<integer>2</integer>
			<key>fb_other</key>
			<integer>2</integer>
			<key>fb_pianzan</key>
			<integer>2</integer>
			<key>fb_seqing</key>
			<integer>1</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>238</integer>
			<key>readed</key>
			<integer>10</integer>
			<key>share</key>
			<integer>43</integer>
		</dict>
		<key>_pos</key>
		<integer>1471478405057</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>acf5aea4c04fd61ec7f8e881732e394b</string>
		<key>antispam_md5</key>
		<string>4e6b5c7557e58a39cd99ceb1ed20a091</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160818044511027</string>
		<key>avatar</key>
		<string>http://image.uc.cn/o/uop/1Ht08/;;0,uop/g/uop/avatar/1zvy8pqAi-2l43788A.jpg;3,160</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>4</integer>
		<key>content</key>
		<string>妈妈：“不是对你说过吗？你弟弟要什么，你就给他什么。”哥哥：“刚才，他要我给他在院子中间挖一个洞，我就给他挖了。”妈妈：“那他怎么还哭呢？”哥哥：“他非要我把哪个洞搬进屋里来。”</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-18T04:50:11+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=cd384c541708b7c6dc282474194150e8!!pos=1471462639112</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471462639.118</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>877959647</string>
		<key>user_dn</key>
		<string>6848274684-be4a8102</string>
		<key>user_ip</key>
		<string>218.89.58.92</string>
		<key>user_name</key>
		<string>酒。</string>
		<key>user_port</key>
		<string>50911</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-18T02:34:23.000+0800</string>
		<key>_id</key>
		<string>d45cb638eb870b29a78ff18a62da6503</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>109</integer>
			<key>fb_kanguo</key>
			<integer>2</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_pianzan</key>
			<integer>3</integer>
			<key>fb_wuliao</key>
			<integer>4</integer>
			<key>like</key>
			<integer>250</integer>
			<key>readed</key>
			<integer>5</integer>
			<key>share</key>
			<integer>34</integer>
		</dict>
		<key>_pos</key>
		<integer>1471477201641</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>637d66bd2873d1e507b060738a245d82</string>
		<key>antispam_md5</key>
		<string>2d3c8e9dd07889c47eefa83108d23eef</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160818043908307</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/anonymous1.png</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>5</integer>
		<key>content</key>
		<string>记得初中一年级班主任的自习课，很静很静，突然忍不住放了个很响的屁，当时坐在第五排，全班同学唰的一下子全部眼睛看过来，瞬间自己羞得脸通红，这是我灵机一动，捂着嘴侧着身子，用鄙视的眼光望着同桌，同学瞬间凌乱，脸也通红着大叫：不是我，不是我！此后同桌跟我决裂了……</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-18T04:40:23+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=d45cb638eb870b29a78ff18a62da6503!!pos=1471458863104</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471458863.096</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>500431960</string>
		<key>user_dn</key>
		<string>8668774004-a90c86c0</string>
		<key>user_ip</key>
		<string>117.136.84.53</string>
		<key>user_name</key>
		<string>奇友GrSXn</string>
		<key>user_port</key>
		<string>63358</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-18T02:53:14.000+0800</string>
		<key>_id</key>
		<string>467bcfcbfe90e3ad4554d8ed16b19d2f</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>61</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>211</integer>
			<key>readed</key>
			<integer>6</integer>
			<key>share</key>
			<integer>20</integer>
		</dict>
		<key>_pos</key>
		<integer>1471477201557</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>499028d3ddf760a817785c738f995ec9</string>
		<key>antispam_md5</key>
		<string>45d5be8095ce971462ab5d45b5e9096a</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160818043908258</string>
		<key>avatar</key>
		<string>http://image.uc.cn/o/uop/1Ht08/;;0,uop/g/uop/avatar/1zvy8pqAi-2l43788A.jpg;3,160</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>6</integer>
		<key>content</key>
		<string>中午去学校食堂打饭，问卖汤的帅哥还有番茄蛋汤吗？他说等一下。然后他从隔壁卖菜的窗口舀了一勺番茄炒鸡蛋，丢到萝卜汤的锅里搅了搅盛了一碗给我......</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-18T04:40:23+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=467bcfcbfe90e3ad4554d8ed16b19d2f!!pos=1471459994431</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471459994.424</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>877959647</string>
		<key>user_dn</key>
		<string>6848274684-be4a8102</string>
		<key>user_ip</key>
		<string>218.89.58.92</string>
		<key>user_name</key>
		<string>酒。</string>
		<key>user_port</key>
		<string>34038</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-18T03:30:03.000+0800</string>
		<key>_id</key>
		<string>53b327eb07a0ecb3f0e010de94521ce1</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>100</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_laji</key>
			<integer>1</integer>
			<key>fb_other</key>
			<integer>2</integer>
			<key>fb_pianzan</key>
			<integer>2</integer>
			<key>fb_seqing</key>
			<integer>5</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>177</integer>
			<key>share</key>
			<integer>43</integer>
		</dict>
		<key>_pos</key>
		<integer>1471467607353</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>e14248108eb0efebe3255c7d66a77c92</string>
		<key>antispam_md5</key>
		<string>e0ce2cf007e06804a957206a3c9d0af9</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160818044510527</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/avatar/34.png</string>
		<key>comment_total</key>
		<integer>0</integer>
		<key>content</key>
		<string>记得上初中的时候家里农村睡炕，吃饭都是桌子放在炕旁边吃。一天早上我吃完饭准备背书包去上学，因为平时背书包都要抡一下，刚巧那天三岁的弟弟在我旁边的凳子上吃饭，我一抡也没注意，直接把我弟弟抡桌子底下去了，怕我妈打我，赶紧背书包跑了。。</string>
		<key>dislike_start</key>
		<integer>3</integer>
		<key>forum</key>
		<string>糗事百科</string>
		<key>hot_comment</key>
		<dict/>
		<key>like_start</key>
		<integer>19</integer>
		<key>media_data</key>
		<array/>
		<key>post_time</key>
		<string>2016-08-18 03:30:03</string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=53b327eb07a0ecb3f0e010de94521ce1!!pos=1471462203704</string>
		<key>share_start</key>
		<integer>31</integer>
		<key>tag</key>
		<string>段子</string>
		<key>url</key>
		<string>http://www.qiushibaike.com/article/117307123</string>
		<key>user_name</key>
		<string>四裤全输</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-17T23:44:23.000+0800</string>
		<key>_id</key>
		<string>dd547002f987aa0653488b89a146535d</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>83</integer>
			<key>fb_kanguo</key>
			<integer>3</integer>
			<key>fb_pianzan</key>
			<integer>2</integer>
			<key>fb_seqing</key>
			<integer>5</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>317</integer>
			<key>readed</key>
			<integer>5</integer>
			<key>share</key>
			<integer>35</integer>
		</dict>
		<key>_pos</key>
		<integer>1471461601578</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>8cbbaf91415779dd8dadaa8077636e4c</string>
		<key>antispam_md5</key>
		<string>26a71e2ecfb49da82b5ae64dc3304550</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160818012336572</string>
		<key>avatar</key>
		<string>http://image.uc.cn/o/uop/1Ht08/;;0,uop/g/uop/avatar/1zvy8pqAi-2l43788A.jpg;3,160</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>2</integer>
		<key>content</key>
		<string>教室里，老师正在点名。
张三？
到！
李四？
到！
王五？
到！
很显然，这三声都是来自于同一个人。
顿时，教室里气氛凝结到冰点，老师面色铁青，一个箭步冲向窗台：王大爷你能等会再指挥倒车吗？</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-18T01:30:12+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=dd547002f987aa0653488b89a146535d!!pos=1471448663919</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471448663.879</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>877959647</string>
		<key>user_dn</key>
		<string>6848274684-be4a8102</string>
		<key>user_ip</key>
		<string>218.89.58.92</string>
		<key>user_name</key>
		<string>酒。</string>
		<key>user_port</key>
		<string>16043</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-17T21:32:26.000+0800</string>
		<key>_id</key>
		<string>f0bd25e998add39601c170a9e92e3c3c</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>147</integer>
			<key>fb_kanguo</key>
			<integer>1</integer>
			<key>fb_seqing</key>
			<integer>2</integer>
			<key>fb_wuliao</key>
			<integer>3</integer>
			<key>like</key>
			<integer>268</integer>
			<key>readed</key>
			<integer>3</integer>
			<key>share</key>
			<integer>40</integer>
		</dict>
		<key>_pos</key>
		<integer>1471449606514</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>c037917135111d1419f0aaee77dd87ea</string>
		<key>antispam_md5</key>
		<string>594f66f50b0b35ff755f55e07f5ab4e4</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160817224517458</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/anonymous1.png</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>3</integer>
		<key>content</key>
		<string>今天和家人去坟上烧纸，走在路上我一手拿着一个宝马730，一手拿着一瓶酒，然后脑抽的和我爸说“爸，爷爷喝上酒再开车会不会酒驾被抓啊，要犯错误啊”</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-17T22:50:17+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=f0bd25e998add39601c170a9e92e3c3c!!pos=1471440746449</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471440746.475</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>1463669975</string>
		<key>user_dn</key>
		<string>8791960294-b3f6b7d6</string>
		<key>user_ip</key>
		<string>117.136.90.186</string>
		<key>user_name</key>
		<string>程鹏鹏</string>
		<key>user_port</key>
		<string>20155</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-17T22:22:42.000+0800</string>
		<key>_id</key>
		<string>fecde7ba4aa2f9a2cad0ce8885c169e2</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>279</integer>
			<key>fb_seqing</key>
			<integer>1</integer>
			<key>fb_wuliao</key>
			<integer>1</integer>
			<key>like</key>
			<integer>243</integer>
			<key>readed</key>
			<integer>2</integer>
			<key>share</key>
			<integer>29</integer>
		</dict>
		<key>_pos</key>
		<integer>1471449606327</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>d8dc82ec3baab719c9546599eba2abac</string>
		<key>antispam_md5</key>
		<string>03003212a4c2e5c5ab410e9c1ba20e8e</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160817230219873</string>
		<key>avatar</key>
		<string>http://image.uc.cn/s/uae/g/0q/product/anonymous1.png</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>24</integer>
		<key>content</key>
		<string>某天警察局接到一电话，对方急促的说有情况后电话就挂断了。警察连忙打回去却发现对方停机了，觉得事态紧急，立马充了20话费打过去。接通后对方开心的说：没情况了。</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-17T23:10:12+0800</string>
		<key>hot_comment</key>
		<dict>
			<key>_id</key>
			<string>38780181</string>
			<key>author</key>
			<string>GFf</string>
			<key>dislike</key>
			<integer>0</integer>
			<key>extra</key>
			<dict>
				<key>avatar</key>
				<string>http://image.uc.cn/o/uop/1Ht08/;;0,uop/g/uop/avatar/1zvQ0EMZh-7Bw3788A.jpg;3,160</string>
				<key>post_title</key>
				<string>某天警察局接到一电话，对方急促的说有情况后电话就挂断了。警察连忙打回去却发现对方停机了，觉得事态紧急，立马充了20话费打过去。接通后对方开心的说：没情况了。</string>
				<key>post_type</key>
				<string>detail</string>
			</dict>
			<key>like</key>
			<integer>40</integer>
			<key>message</key>
			<string>你见过打110要话费的？差评!</string>
		</dict>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=fecde7ba4aa2f9a2cad0ce8885c169e2!!pos=1471443762509</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471443762.479</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>496777165</string>
		<key>user_dn</key>
		<string>8297381432-74df6607</string>
		<key>user_ip</key>
		<string>60.255.181.38</string>
		<key>user_name</key>
		<string>萝卜白菜各有所爱</string>
		<key>user_port</key>
		<string>64323</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-17T22:19:30.000+0800</string>
		<key>_id</key>
		<string>2d2487ee7f88c431432ad494797551f9</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>120</integer>
			<key>like</key>
			<integer>170</integer>
			<key>readed</key>
			<integer>4</integer>
			<key>share</key>
			<integer>33</integer>
		</dict>
		<key>_pos</key>
		<integer>1471449606145</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>4309720feeed4f4e95e77c1a5be4235f</string>
		<key>antispam_md5</key>
		<string>8679f43bb2fe558ab28075bd965256cf</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160817230216078</string>
		<key>avatar</key>
		<string>http://image.uc.cn/o/uop/1Ht08/;;0,uop/g/uop/avatar/1zugS2CyC-8ey2988A.jpg;3,160</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>0</integer>
		<key>content</key>
		<string>甲：你知道近视是什么感觉吗？
乙：……
甲：五米外男女不分！
       十米外人畜不分！！
乙：…一百米呢？
        一片辽阔
这就是你住址写青青草原的原因？</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-17T23:10:14+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=2d2487ee7f88c431432ad494797551f9!!pos=1471443570237</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471443570.210</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>625215104</string>
		<key>user_dn</key>
		<string>21662119271-0d4994c4</string>
		<key>user_ip</key>
		<string>218.204.3.44</string>
		<key>user_name</key>
		<string>メ夏丶雨辰◆ゞヤ</string>
		<key>user_port</key>
		<string>25319</string>
	</dict>
	<dict>
		<key>_created_at</key>
		<string>2016-08-17T20:58:21.000+0800</string>
		<key>_id</key>
		<string>cdb46efde3d4eb17188bf83d6fd46935</string>
		<key>_incrs</key>
		<dict>
			<key>dislike</key>
			<integer>114</integer>
			<key>fb_pianzan</key>
			<integer>3</integer>
			<key>like</key>
			<integer>379</integer>
			<key>readed</key>
			<integer>11</integer>
			<key>share</key>
			<integer>24</integer>
		</dict>
		<key>_pos</key>
		<integer>1471447201737</integer>
		<key>_updated_at</key>
		<string>2016-08-18T11:10:12.000+0800</string>
		<key>antispam_filter</key>
		<string>CC</string>
		<key>antispam_id</key>
		<string>e47ed7484e3f4911f8b11547de0f3d95</string>
		<key>antispam_md5</key>
		<string>918eb999001df9019ba6e3b413ffc687</string>
		<key>antispam_mode</key>
		<string>MAN</string>
		<key>antispam_reason</key>
		<string></string>
		<key>antispam_result</key>
		<string>GOOD</string>
		<key>antispam_status</key>
		<string>GOOD</string>
		<key>antispam_time</key>
		<string>20160817222051520</string>
		<key>avatar</key>
		<string>http://image.uc.cn/o/uop/1Ht08/;;0,uop/g/uop/avatar/1608161356ab361cfa5ef397249b71efa83e879772.jpg;3,160</string>
		<key>ck_status</key>
		<string>approved</string>
		<key>comment_total</key>
		<integer>5</integer>
		<key>content</key>
		<string>即使欺骗你千万遍你还是毫不犹豫就去相信的话是什么？
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
老师来了！</string>
		<key>dislike_start</key>
		<integer>0</integer>
		<key>fst_ck_time</key>
		<string>2016-08-17T22:20:24+0800</string>
		<key>hot_comment</key>
		<dict/>
		<key>imgUrl</key>
		<string></string>
		<key>like_start</key>
		<integer>0</integer>
		<key>list_info</key>
		<dict/>
		<key>preview_img_url</key>
		<string></string>
		<key>qiqu_index_url</key>
		<string>http://qiqu.uc.cn/?uc_param_str=frpfvedncpssntnwbi&amp;ch=shouye_xinxiliu#!/detail?tag=index!!id=cdb46efde3d4eb17188bf83d6fd46935!!pos=1471438701724</string>
		<key>share_start</key>
		<integer>0</integer>
		<key>tag</key>
		<string>段子</string>
		<key>time_stamp_1</key>
		<string>1471438701.701</string>
		<key>title</key>
		<string></string>
		<key>uid</key>
		<string>1104370892</string>
		<key>user_dn</key>
		<string>8792731834-1a50ca38</string>
		<key>user_ip</key>
		<string>42.48.215.163</string>
		<key>user_name</key>
		<string>堕天使</string>
		<key>user_port</key>
		<string>1405</string>
	</dict>
</array>
</plist>
